@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-text {
  background: linear-gradient(98deg, #00a1ff 3.74%, #00ff8f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #050513;
  color: #fff;
}
